## Intermediate SQL por Datacamp

~ Para ejecutar SQL desde un notebook de Jupyter, [link en Datacamp](https://www.datacamp.com/community/tutorials/sql-interface-within-jupyterlab).

<img src="1.jpeg"></img>

## Importamos librerías y extensiones

In [1]:
# Importamos la librería sqlalchemy, que nos permite ejecutar código SQL adaptado a sintaxis simple y de forma Pythonica
import sqlalchemy

# Cargamos el módulo sqlite
%load_ext sql

# Cargamos la extensión ipython-sql
%sql sqlite://

## Probemos SQLITE

In [2]:
# Cargamos la base de datos (cambiar directorio, sin especificar el disco duro)
%sql sqlite:////Universidad/DataCamp/Python/intermediate_sql/SQL_SAFI.sqlite

## Seleccionamos y probamos con pandas

In [3]:
# Importamos numpy pandas
import numpy as np
import pandas as pd

In [4]:
# Seleccionamos algunos datos para probar
resultado = %sql SELECT * FROM Crops

# Vemos el tipo de objeto que es "resultado"
print(type(resultado))

# Convertimos el resultado SQL a DataFrame con Pandas
df_resultado = resultado.DataFrame()

# Cinco primeras filas del DataFrame
print(df_resultado.head())

# Vemos el resumen del DataFrame
df_resultado.info()

   sqlite://
 * sqlite:////Universidad/DataCamp/Python/intermediate_sql/SQL_SAFI.sqlite
Done.
<class 'sql.run.ResultSet'>
   Id  plot_Id  crop_Id  D05_times D_curr_crop  D_repeat_times_count
0   1        1        1          1       maize                     1
1   1        2        1          1       maize                     1
2   2        1        1          1       maize                     1
3   2        2        1          1    tomatoes                     1
4   2        3        1          1   vegetable                     1
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1044 entries, 0 to 1043
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Id                    1044 non-null   int64
 1   plot_Id               1044 non-null   int64
 2   crop_Id               1044 non-null   int64
 3   D05_times             1044 non-null   int64
 4   D_curr_crop           1039 non-null   object
 5   D_repeat_times_count  1044 non-null   int64
dtypes: int64(5), object(1)
memory usage: 49.1+ KB

## SQL Intermedio

<img src="2.png"></img>

Bienvenidos a SQL intermedio. SQL es una poderosa herramienta para trabajar con bases de datos relacionales. Con un conocimiento intermedio de SQL, obtendremos la capacidad de acceder y crear conjuntos de datos de varias tablas en una base de datos relacional, para responder a nuestras preguntas sobre ciencia de datos.

En este curso, aprenderemos específicamente a:

- Dar forma, transformar y manipular datos utilizando la instrucción CASE.

- Subconsultas simples.

- Subconsultas correlacionadas.

- Funciones de ventana.

Antes de tomar este curso, deberíamos sentirnos cómodos trabajando con temas introductorios de SQL, como seleccionando datos de una base de datos usando funciones aritméticas, declaraciones GROUP BY y cláusulas WHERE para filtrar datos.

También debe estar familiarizado con la unión de datos con LEFT JOIN, RIGHT JOIN, INNER JOIN y OUTER JOIN. En este curso, utilizaremos y desarrollaremos estos temas para interactuar con nuestra base de datos.

Para este curso, utilizaremos una base de datos del fútbol europeo, 'European soccer database', que es una base de datos relacional que contiene datos sobre más de 25.000 partidos, 300 equipos y 10.000 jugadores en Europa entre 2008 y 2016.

## Carguemos la base de datos que utilizaremos

In [5]:
# Cargamos la base de datos
%sql sqlite:////Universidad/DataCamp/Python/intermediate_sql/european_soccer.sqlite

Los datos están contenidos en 4 tablas: país, liga, equipo y partido.

In [6]:
# Selecting from European Soccer Database
%sql SELECT l.name AS league, COUNT(m.country_id) AS matches \
FROM league AS l \
LEFT JOIN match AS m \
ON l.country_id = m.country_id \
GROUP BY l.name

   sqlite://
   sqlite:////Universidad/DataCamp/Python/intermediate_sql/SQL_SAFI.sqlite
 * sqlite:////Universidad/DataCamp/Python/intermediate_sql/european_soccer.sqlite
Done.

[('Belgium Jupiler League', 1728),
 ('England Premier League', 3040),
 ('France Ligue 1', 3040),
 ('Germany 1. Bundesliga', 2448),
 ('Italy Serie A', 3017),
 ('Netherlands Eredivisie', 2448),
 ('Poland Ekstraklasa', 1920),
 ('Portugal Liga ZON Sagres', 2052),
 ('Scotland Premier League', 1824),
 ('Spain LIGA BBVA', 3040),
 ('Switzerland Super League', 1422)]

Seleccionar datos de estas tablas es bastante simple. La consulta que vemos aquí, te da el número de partidos jugados en cada una de las 11 ligas enumeradas en la tabla 'Liga'.

Digamos que queremos comparar la cantidad de victorias del equipo local, victorias del equipo visitante y empates en la temporada 2013/2014.

La tabla 'coincidencia' ahora tiene dos columnas relevantes: home_goal y away_goal.

## Nota

En Datacamp se renombró las columnas, quitando la etiqueta 'team' de las columnas de goles.

In [7]:
%sql SELECT date, home_team_goal, away_team_goal \
FROM match \
WHERE season = '2013/2014' \
LIMIT 10

   sqlite://
   sqlite:////Universidad/DataCamp/Python/intermediate_sql/SQL_SAFI.sqlite
 * sqlite:////Universidad/DataCamp/Python/intermediate_sql/european_soccer.sqlite
Done.

[('2014-03-29 00:00:00', 2, 0),
 ('2014-03-29 00:00:00', 0, 1),
 ('2014-04-05 00:00:00', 1, 0),
 ('2014-04-05 00:00:00', 0, 0),
 ('2014-04-12 00:00:00', 2, 1),
 ('2014-04-12 00:00:00', 2, 0),
 ('2014-04-19 00:00:00', 2, 4),
 ('2014-04-19 00:00:00', 0, 2),
 ('2014-04-26 00:00:00', 4, 2),
 ('2014-04-26 00:00:00', 1, 1)]

Potencialmente, podemos agregar filtros a la cláusula WHERE, seleccionando victorias, derrotas y empates por separado, pero eso no es muy eficiente si deseamos comparar estos resultados en un solo conjunto de datos.

In [8]:
%sql SELECT date, id, home_team_goal, away_team_goal \
FROM match \
WHERE season = '2013/2014' \
AND home_team_goal > away_team_goal \
LIMIT 10

   sqlite://
   sqlite:////Universidad/DataCamp/Python/intermediate_sql/SQL_SAFI.sqlite
 * sqlite:////Universidad/DataCamp/Python/intermediate_sql/european_soccer.sqlite
Done.

[('2014-03-29 00:00:00', 1237, 2, 0),
 ('2014-04-05 00:00:00', 1239, 1, 0),
 ('2014-04-12 00:00:00', 1241, 2, 1),
 ('2014-04-12 00:00:00', 1242, 2, 0),
 ('2014-04-26 00:00:00', 1245, 4, 2),
 ('2014-05-03 00:00:00', 1248, 4, 0),
 ('2013-08-18 00:00:00', 3630, 2, 0),
 ('2013-08-17 00:00:00', 3632, 1, 0),
 ('2013-08-19 00:00:00', 3633, 4, 0),
 ('2013-08-17 00:00:00', 3638, 2, 0)]

Aquí es donde entra la instrucción CASE. Las declaraciones CASE son la versión de SQL de una declaración condicional de otros lenguajes de programación 'IF'.

Las declaraciones de casos tienen tres partes: una cláusula WHEN, una cláusula THEN y una cláusula ELSE.

In [9]:
print( \
""" 
CASE WHEN x = 1 THEN 'a'
    WHEN x = 2 THEN 'b'
    ELSE 'c' END AS new_column 
""")

CASE WHEN x = 1 THEN 'a'
    WHEN x = 2 THEN 'b'
    ELSE 'c' END AS new_column

- La primera parte, la cláusula WHEN, prueba una condición determinada, por ejemplo X = 1, si esta condición es VERDADERA, devuelve el elemento que especifica después de su cláusula WHEN.

- Podemos crear varias condiciones enumerando las declaraciones WHEN y THEN dentro de la misma declaración CASE.

- Luego, la instrucción CASE finaliza con una cláusula ELSE que devuelve un valor especificado si todas sus declaraciones WHEN no son verdaderas.

- Al terminar la declaración, debemos asegurarnos de incluir el término END y de darle un alias.

- La declaración CASE completa se evaluará en una nueva columna en su consulta SQL.

In [10]:
%sql SELECT id, home_team_goal, away_team_goal, CASE WHEN home_team_goal > away_team_goal THEN 'Home Team Win' WHEN home_team_goal < away_team_goal THEN 'Away Team Win' ELSE 'Tie' END AS outcome FROM match WHERE season = '2013/2014' \
LIMIT 10

   sqlite://
   sqlite:////Universidad/DataCamp/Python/intermediate_sql/SQL_SAFI.sqlite
 * sqlite:////Universidad/DataCamp/Python/intermediate_sql/european_soccer.sqlite
Done.

[(1237, 2, 0, 'Home Team Win'),
 (1238, 0, 1, 'Away Team Win'),
 (1239, 1, 0, 'Home Team Win'),
 (1240, 0, 0, 'Tie'),
 (1241, 2, 1, 'Home Team Win'),
 (1242, 2, 0, 'Home Team Win'),
 (1243, 2, 4, 'Away Team Win'),
 (1244, 0, 2, 'Away Team Win'),
 (1245, 4, 2, 'Home Team Win'),
 (1246, 1, 1, 'Tie')]

En este ejemplo, usamos una instrucción CASE para crear una nueva variable que identifica partidos como victorias del equipo local, victorias del equipo visitante o empates.

Se crea una nueva columna con el texto apropiado para cada partido dado el resultado.

En la próxima lección, practicaremos más formas de estructurar CASE, utilizando funciones aritméticas como COUNT, SUM y AVG. Por ahora, practicaremos la creación de declaraciones CASE para crear categorías para los datos.

### EX 1° : BASIC CASE statements (1).
Se identificarán partidos jugados entre FC Schalke 04 y FC Bayern Munich.

In [11]:
%sql SELECT team_long_name, team_api_id \
FROM team \
WHERE team_long_name in ('FC Bayern Munich', 'FC Schalke 04')

   sqlite://
   sqlite:////Universidad/DataCamp/Python/intermediate_sql/SQL_SAFI.sqlite
 * sqlite:////Universidad/DataCamp/Python/intermediate_sql/european_soccer.sqlite
Done.

[('FC Bayern Munich', 9823), ('FC Schalke 04', 10189)]

In [12]:
%sql SELECT CASE WHEN home_team_api_id = 9823 THEN 'Bayern Munich' WHEN home_team_api_id = 10189 THEN 'FC Schalke 04' ELSE 'Other' END AS home_team,  \
count(id) AS total_matches \
FROM match \
GROUP BY home_team

   sqlite://
   sqlite:////Universidad/DataCamp/Python/intermediate_sql/SQL_SAFI.sqlite
 * sqlite:////Universidad/DataCamp/Python/intermediate_sql/european_soccer.sqlite
Done.

[('Bayern Munich', 136), ('FC Schalke 04', 136), ('Other', 25707)]

### EX 2° : CASE statements comparing column values (1).
En este ejercicio, crearemos una lista de partidos de la temporada del 2011/2012 donde el Barcelona fue el equipo en casa, utilizando la declaración CASE para saber si ganó, perdió o empató en casa.

In [13]:
%sql SELECT date, \
CASE WHEN home_team_goal > away_team_goal THEN 'Home Win :)' WHEN home_team_goal < away_team_goal THEN 'Home loss :(' ELSE 'Tie' END AS outcome \
FROM match \
LIMIT 10

   sqlite://
   sqlite:////Universidad/DataCamp/Python/intermediate_sql/SQL_SAFI.sqlite
 * sqlite:////Universidad/DataCamp/Python/intermediate_sql/european_soccer.sqlite
Done.

[('2008-08-17 00:00:00', 'Tie'),
 ('2008-08-16 00:00:00', 'Tie'),
 ('2008-08-16 00:00:00', 'Home loss :('),
 ('2008-08-17 00:00:00', 'Home Win :)'),
 ('2008-08-16 00:00:00', 'Home loss :('),
 ('2008-09-24 00:00:00', 'Tie'),
 ('2008-08-16 00:00:00', 'Tie'),
 ('2008-08-16 00:00:00', 'Home loss :('),
 ('2008-08-16 00:00:00', 'Home Win :)'),
 ('2008-11-01 00:00:00', 'Home Win :)')]

### EX 2.5° : CASE statements comparing column values (2).
En este ejercicio, crearemos una lista de partidos de la temporada del 2011/2012 donde el Barcelona fue el equipo en casa, utilizando la declaración CASE para saber si ganó, perdió o empató en casa.

In [14]:
%sql SELECT date, team_long_name AS opponent, CASE WHEN home_team_goal > away_team_goal THEN 'Barcelona ganó :)' WHEN home_team_goal < away_team_goal THEN 'Barcelona perdió :(' ELSE 'Empate' END AS outcome \
FROM match LEFT JOIN team ON team_api_id = away_team_api_id \
WHERE home_team_api_id = 8634 AND season = '2011/2012'

   sqlite://
   sqlite:////Universidad/DataCamp/Python/intermediate_sql/SQL_SAFI.sqlite
 * sqlite:////Universidad/DataCamp/Python/intermediate_sql/european_soccer.sqlite
Done.

[('2011-10-29 00:00:00', 'RCD Mallorca', 'Barcelona ganó :)'),
 ('2011-11-19 00:00:00', 'Real Zaragoza', 'Barcelona ganó :)'),
 ('2011-12-03 00:00:00', 'Levante UD', 'Barcelona ganó :)'),
 ('2011-11-29 00:00:00', 'Rayo Vallecano', 'Barcelona ganó :)'),
 ('2012-01-15 00:00:00', 'Real Betis Balompié', 'Barcelona ganó :)'),
 ('2011-08-29 00:00:00', 'Villarreal CF', 'Barcelona ganó :)'),
 ('2012-05-02 00:00:00', 'Málaga CF', 'Barcelona ganó :)'),
 ('2012-02-04 00:00:00', 'Real Sociedad', 'Barcelona ganó :)'),
 ('2012-02-19 00:00:00', 'Valencia CF', 'Barcelona ganó :)'),
 ('2012-03-03 00:00:00', 'Real Sporting de Gijón', 'Barcelona ganó :)'),
 ('2012-03-20 00:00:00', 'Granada CF', 'Barcelona ganó :)'),
 ('2012-03-31 00:00:00', 'Athletic Club de Bilbao', 'Barcelona ganó :)'),
 ('2012-04-10 00:00:00', 'Getafe CF', 'Barcelona ganó :)'),
 ('2012-04-21 00:00:00', 'Real Madrid CF', 'Barcelona perdió :('),
 ('2012-05-05 00:00:00', 'RCD Espanyol', 'Barcelona ganó :)'),
 ('2011-09-17 00:00:00', 'CA Osasuna', 'Barcelona ganó :)'),
 ('2011-09-24 00:00:00', 'Atlético Madrid', 'Barcelona ganó :)'),
 ('2011-10-15 00:00:00', 'Racing Santander', 'Barcelona ganó :)'),
 ('2011-10-22 00:00:00', 'Sevilla FC', 'Empate')]

## Notas

Notar como, con la coincidencia hecho en el WHERE, basta para tener al FC Barcelona como equipo en casa, de forma que, en la unión a la izquierda en las tablas, se podría obtener menos información colocando:
- ON team_api_id = home_team_api_id

De esta forma, obtendríamos los mismos nombres una y otra vez en la fila. El código utilizado en la celda de arriba obtiene más información (los oponentes).
En las query de SQL siempre optar por la vía que entrega más información.

### EX 3° : CASE statements comparing column values (2).
En este ejercicio, crearemos una lista de partidos de la temporada del 2011/2012 donde el Barcelona fue el equipo visitante, utilizando la declaración CASE para saber si ganó, perdió o empató de visitante.

In [15]:
%sql SELECT date, team_long_name AS opponent, CASE WHEN home_team_goal < away_team_goal THEN 'Barcelona ganó :)' WHEN home_team_goal > away_team_goal THEN 'Barcelona perdió :(' ELSE 'Empate' END AS outcome \
FROM match LEFT JOIN team ON team_api_id = home_team_api_id \
WHERE away_team_api_id = 8634 AND season = '2011/2012'

   sqlite://
   sqlite:////Universidad/DataCamp/Python/intermediate_sql/SQL_SAFI.sqlite
 * sqlite:////Universidad/DataCamp/Python/intermediate_sql/european_soccer.sqlite
Done.

[('2012-01-22 00:00:00', 'Málaga CF', 'Barcelona ganó :)'),
 ('2011-10-25 00:00:00', 'Granada CF', 'Barcelona ganó :)'),
 ('2011-11-06 00:00:00', 'Athletic Club de Bilbao', 'Empate'),
 ('2011-11-26 00:00:00', 'Getafe CF', 'Barcelona perdió :('),
 ('2011-12-10 00:00:00', 'Real Madrid CF', 'Barcelona ganó :)'),
 ('2012-01-08 00:00:00', 'RCD Espanyol', 'Empate'),
 ('2012-01-28 00:00:00', 'Villarreal CF', 'Empate'),
 ('2012-02-11 00:00:00', 'CA Osasuna', 'Barcelona perdió :('),
 ('2012-02-26 00:00:00', 'Atlético Madrid', 'Barcelona ganó :)'),
 ('2012-03-11 00:00:00', 'Racing Santander', 'Barcelona ganó :)'),
 ('2012-03-17 00:00:00', 'Sevilla FC', 'Barcelona ganó :)'),
 ('2011-09-10 00:00:00', 'Real Sociedad', 'Empate'),
 ('2012-03-24 00:00:00', 'RCD Mallorca', 'Barcelona ganó :)'),
 ('2012-04-07 00:00:00', 'Real Zaragoza', 'Barcelona ganó :)'),
 ('2012-04-14 00:00:00', 'Levante UD', 'Barcelona ganó :)'),
 ('2012-04-29 00:00:00', 'Rayo Vallecano', 'Barcelona ganó :)'),
 ('2012-05-12 00:00:00', 'Real Betis Balompié', 'Empate'),
 ('2011-09-21 00:00:00', 'Valencia CF', 'Empate'),
 ('2011-10-02 00:00:00', 'Real Sporting de Gijón', 'Barcelona ganó :)')]

## Notas

Si bien, se puede realizar un copy paste rápido cambiando los ID, no se debe olvidar cambiar las desigualdades al cambiar de casa a visitante el equipo del FC Barcelona.

## In CASE things get more complex

Ahora que comprendemos algunos conceptos básicos de las declaraciones CASE, configuremos algunas pruebas lógicas más complejas.

## Reviewing CASE WHEN

Anteriormente, cubrimos las declaraciones CASE con una prueba lógica en un WHEN, lo que nos devolvía resultados basados en si esa prueba era VERDADERA o FALSA.

El ejemplo a continuación prueba si los goles en casa o fuera de casa fueron más altos y los identifica como victorias para el equipo que obtuvo una puntuación más alta. Todo lo demás se clasifica como empate.

In [29]:
%sql SELECT date, \
season, \
CASE WHEN home_team_goal > away_team_goal THEN 'Ganó el equipo en casa' \
WHEN home_team_goal < away_team_goal THEN 'Ganó el equipo visitante'\
ELSE 'Tie' END AS outcome \
FROM match \
LIMIT 10

   sqlite://
   sqlite:////Universidad/DataCamp/Python/intermediate_sql/SQL_SAFI.sqlite
 * sqlite:////Universidad/DataCamp/Python/intermediate_sql/european_soccer.sqlite
Done.

[('2008-08-17 00:00:00', '2008/2009', 'Tie'),
 ('2008-08-16 00:00:00', '2008/2009', 'Tie'),
 ('2008-08-16 00:00:00', '2008/2009', 'Ganó el equipo visitante'),
 ('2008-08-17 00:00:00', '2008/2009', 'Ganó el equipo en casa'),
 ('2008-08-16 00:00:00', '2008/2009', 'Ganó el equipo visitante'),
 ('2008-09-24 00:00:00', '2008/2009', 'Tie'),
 ('2008-08-16 00:00:00', '2008/2009', 'Tie'),
 ('2008-08-16 00:00:00', '2008/2009', 'Ganó el equipo visitante'),
 ('2008-08-16 00:00:00', '2008/2009', 'Ganó el equipo en casa'),
 ('2008-11-01 00:00:00', '2008/2009', 'Ganó el equipo en casa')]

La tabla resultante tiene una columna que identifica las coincidencias como uno de los 3 posibles resultados.

## CASE WHEN ... AND then some

Si deseamos probar varias condiciones lógicas en una instrucción CASE, se puede usar AND dentro de la cláusula WHEN.

Por ejemplo, veamos si cada partido lo jugó y ganó el equipo Chelsea.

## Nota

Recordar que no somos adivinos, y debemos ir viendo las tablas y columnas que nos sirven o no según la consulta. Podemos guiarnos con [el enlace de Kaggle](https://www.kaggle.com/hugomathien/soccer).

In [32]:
%sql SELECT team_api_id \
FROM Team \
WHERE team_long_name = 'Chelsea'

   sqlite://
   sqlite:////Universidad/DataCamp/Python/intermediate_sql/SQL_SAFI.sqlite
 * sqlite:////Universidad/DataCamp/Python/intermediate_sql/european_soccer.sqlite
Done.

[(8455,)]

In [60]:
%sql SELECT date, \
home_team_api_id AS hometeam_id, \
away_team_api_id AS awayteam_id, \
CASE WHEN home_team_goal > away_team_goal AND home_team_api_id = 8455 THEN 'Chelsea ganó en casa' \
WHEN home_team_goal < away_team_goal AND away_team_api_id = 8455 THEN 'Chelsea ganó de visitante' \
ELSE 'Chelsea perdió/empató' END AS outcome \
FROM Match \
WHERE season = '2011/2012' AND (hometeam_id = 8455 OR awayteam_id = 8455) \
LIMIT 10

   sqlite://
   sqlite:////Universidad/DataCamp/Python/intermediate_sql/SQL_SAFI.sqlite
 * sqlite:////Universidad/DataCamp/Python/intermediate_sql/european_soccer.sqlite
Done.

[('2011-08-14 00:00:00', 10194, 8455, 'Chelsea perdió/empató'),
 ('2011-10-29 00:00:00', 8455, 9825, 'Chelsea perdió/empató'),
 ('2011-11-05 00:00:00', 8655, 8455, 'Chelsea ganó de visitante'),
 ('2011-11-20 00:00:00', 8455, 8650, 'Chelsea perdió/empató'),
 ('2011-11-26 00:00:00', 8455, 8602, 'Chelsea ganó en casa'),
 ('2011-12-03 00:00:00', 10261, 8455, 'Chelsea ganó de visitante'),
 ('2011-12-12 00:00:00', 8455, 8456, 'Chelsea ganó en casa'),
 ('2011-12-17 00:00:00', 8528, 8455, 'Chelsea perdió/empató'),
 ('2011-12-22 00:00:00', 8586, 8455, 'Chelsea perdió/empató'),
 ('2011-12-26 00:00:00', 8455, 9879, 'Chelsea perdió/empató')]

Veamos al declaración CASE en la consulta anterior. Cada cláusula WHEN contiene dos pruebas lógicas:

- La primera prueba es, respectivamente, si el equipo en casa o visitante ganó o perdió según la cantidad de goles.

- La segunda prueba es que, efectivamente, el ID del equipo corresponda al Chelsea en casa o visitante.

Si ambas condiciones son VERDADERAS o FALSAS, o una y otra, la nueva columna devuelve los STRINGS de:

- Chelsea ganó en casa.

- Chelsea ganó de visitante.

- Chelsea perdió/empató.

## What ELSE is being excluded?

Al probar condiciones lógicas, es importante considerar cuidadosamente qué filas de los datos son parte de la cláusula ELSE y si están categorizadas correctamente.

A continuación, aquí está la misma instrucción CASE de la diapositiva anterior, pero se ha eliminado el filtro WHERE de los ID.

In [61]:
%sql SELECT date, \
home_team_api_id AS hometeam_id, \
away_team_api_id AS awayteam_id, \
CASE WHEN home_team_goal > away_team_goal AND home_team_api_id = 8455 THEN 'Chelsea ganó en casa' \
WHEN home_team_goal < away_team_goal AND away_team_api_id = 8455 THEN 'Chelsea ganó de visitante' \
ELSE 'Chelsea perdió/empató' END AS outcome \
FROM Match \
WHERE season = '2011/2012' \
LIMIT 10

   sqlite://
   sqlite:////Universidad/DataCamp/Python/intermediate_sql/SQL_SAFI.sqlite
 * sqlite:////Universidad/DataCamp/Python/intermediate_sql/european_soccer.sqlite
Done.

[('2011-07-29 00:00:00', 1773, 8635, 'Chelsea perdió/empató'),
 ('2011-07-30 00:00:00', 9998, 9985, 'Chelsea perdió/empató'),
 ('2011-07-30 00:00:00', 9987, 9993, 'Chelsea perdió/empató'),
 ('2011-07-30 00:00:00', 9991, 9984, 'Chelsea perdió/empató'),
 ('2011-07-30 00:00:00', 9994, 10000, 'Chelsea perdió/empató'),
 ('2011-07-30 00:00:00', 8571, 9989, 'Chelsea perdió/empató'),
 ('2011-07-30 00:00:00', 8203, 9997, 'Chelsea perdió/empató'),
 ('2011-07-31 00:00:00', 8342, 10001, 'Chelsea perdió/empató'),
 ('2011-10-16 00:00:00', 8342, 9991, 'Chelsea perdió/empató'),
 ('2011-10-16 00:00:00', 8635, 9985, 'Chelsea perdió/empató')]

Como podemos apreciar, sin el filtro WHERE de los ID, se categorizará TODOS los partidos jugados por cualquiera que no cumpla las primeras condiciones del CASE WHEN:

- Un vistazo rápido a la tabla demuestra que las primeras coincidencias están todas categorizadas como 'Chelsea perdió o empató', pero ni el hometeam_id ni el awayteam_id pertenecen al Chelsea.

## Correctly categorize your data with CASE

La forma más sencilla de corregir esto es asegurarse de agregar filtros específicos en la cláusula WHERE que excluyan a todos los equipos en los que el Chelsea no jugó.

In [62]:
%sql SELECT date, \
home_team_api_id AS hometeam_id, \
away_team_api_id AS awayteam_id, \
CASE WHEN home_team_goal > away_team_goal AND home_team_api_id = 8455 THEN 'Chelsea ganó en casa' \
WHEN home_team_goal < away_team_goal AND away_team_api_id = 8455 THEN 'Chelsea ganó de visitante' \
ELSE 'Chelsea perdió/empató' END AS outcome \
FROM Match \
WHERE season = '2011/2012' AND (hometeam_id = 8455 OR awayteam_id = 8455) \
LIMIT 10

   sqlite://
   sqlite:////Universidad/DataCamp/Python/intermediate_sql/SQL_SAFI.sqlite
 * sqlite:////Universidad/DataCamp/Python/intermediate_sql/european_soccer.sqlite
Done.

[('2011-08-14 00:00:00', 10194, 8455, 'Chelsea perdió/empató'),
 ('2011-10-29 00:00:00', 8455, 9825, 'Chelsea perdió/empató'),
 ('2011-11-05 00:00:00', 8655, 8455, 'Chelsea ganó de visitante'),
 ('2011-11-20 00:00:00', 8455, 8650, 'Chelsea perdió/empató'),
 ('2011-11-26 00:00:00', 8455, 8602, 'Chelsea ganó en casa'),
 ('2011-12-03 00:00:00', 10261, 8455, 'Chelsea ganó de visitante'),
 ('2011-12-12 00:00:00', 8455, 8456, 'Chelsea ganó en casa'),
 ('2011-12-17 00:00:00', 8528, 8455, 'Chelsea perdió/empató'),
 ('2011-12-22 00:00:00', 8586, 8455, 'Chelsea perdió/empató'),
 ('2011-12-26 00:00:00', 8455, 9879, 'Chelsea perdió/empató')]

En la tabla anterior, especificamos esto usando una declaración OR en WHERE, que solo recupera los resultados en donde el ID 8455 está presente en las columnas hometeam_id o awayteam_id.

Las identificaciones de los equipos especifican, claramente, si el Chelsea estaba en casa o de visitante.

## What's NULL?

También es importante considerar lo que está haciendo nuestra cláusula ELSE.

Las dos consultas a continuación son idénticas, excepto por la instrucción ELSE NULL especificada en la segunda.

In [87]:
# Primera consulta
%sql SELECT date, \
CASE WHEN date > '2015-01-01' THEN 'More Recently' \
WHEN date < '2012-01-01' THEN 'older' \
END AS date_category \
FROM match \
WHERE season IN ('2011/2012') \
LIMIT 100

   sqlite://
   sqlite:////Universidad/DataCamp/Python/intermediate_sql/SQL_SAFI.sqlite
 * sqlite:////Universidad/DataCamp/Python/intermediate_sql/european_soccer.sqlite
Done.

[('2011-07-29 00:00:00', 'older'),
 ('2011-07-30 00:00:00', 'older'),
 ('2011-07-30 00:00:00', 'older'),
 ('2011-07-30 00:00:00', 'older'),
 ('2011-07-30 00:00:00', 'older'),
 ('2011-07-30 00:00:00', 'older'),
 ('2011-07-30 00:00:00', 'older'),
 ('2011-07-31 00:00:00', 'older'),
 ('2011-10-16 00:00:00', 'older'),
 ('2011-10-16 00:00:00', 'older'),
 ('2011-10-15 00:00:00', 'older'),
 ('2011-10-15 00:00:00', 'older'),
 ('2011-10-15 00:00:00', 'older'),
 ('2011-10-15 00:00:00', 'older'),
 ('2011-10-15 00:00:00', 'older'),
 ('2011-10-15 00:00:00', 'older'),
 ('2011-10-23 00:00:00', 'older'),
 ('2011-10-22 00:00:00', 'older'),
 ('2011-10-22 00:00:00', 'older'),
 ('2011-10-22 00:00:00', 'older'),
 ('2011-10-23 00:00:00', 'older'),
 ('2011-10-22 00:00:00', 'older'),
 ('2011-10-23 00:00:00', 'older'),
 ('2011-10-22 00:00:00', 'older'),
 ('2011-10-29 00:00:00', 'older'),
 ('2011-10-30 00:00:00', 'older'),
 ('2011-10-30 00:00:00', 'older'),
 ('2011-10-29 00:00:00', 'older'),
 ('2011-10-29 00:00:00', 'older'),
 ('2011-10-29 00:00:00', 'older'),
 ('2011-10-29 00:00:00', 'older'),
 ('2011-10-29 00:00:00', 'older'),
 ('2011-11-06 00:00:00', 'older'),
 ('2011-11-05 00:00:00', 'older'),
 ('2011-11-04 00:00:00', 'older'),
 ('2011-11-05 00:00:00', 'older'),
 ('2011-11-05 00:00:00', 'older'),
 ('2011-11-05 00:00:00', 'older'),
 ('2011-11-05 00:00:00', 'older'),
 ('2011-11-06 00:00:00', 'older'),
 ('2011-11-20 00:00:00', 'older'),
 ('2011-11-20 00:00:00', 'older'),
 ('2011-11-19 00:00:00', 'older'),
 ('2011-11-18 00:00:00', 'older'),
 ('2011-11-19 00:00:00', 'older'),
 ('2011-11-19 00:00:00', 'older'),
 ('2011-11-19 00:00:00', 'older'),
 ('2011-11-19 00:00:00', 'older'),
 ('2011-11-25 00:00:00', 'older'),
 ('2011-11-27 00:00:00', 'older'),
 ('2011-11-26 00:00:00', 'older'),
 ('2011-11-26 00:00:00', 'older'),
 ('2011-11-26 00:00:00', 'older'),
 ('2011-11-26 00:00:00', 'older'),
 ('2011-11-26 00:00:00', 'older'),
 ('2011-11-26 00:00:00', 'older'),
 ('2011-12-04 00:00:00', 'older'),
 ('2011-12-04 00:00:00', 'older'),
 ('2011-12-02 00:00:00', 'older'),
 ('2011-12-03 00:00:00', 'older'),
 ('2011-12-03 00:00:00', 'older'),
 ('2011-12-03 00:00:00', 'older'),
 ('2011-12-03 00:00:00', 'older'),
 ('2011-12-03 00:00:00', 'older'),
 ('2011-12-11 00:00:00', 'older'),
 ('2011-12-10 00:00:00', 'older'),
 ('2011-12-10 00:00:00', 'older'),
 ('2011-12-10 00:00:00', 'older'),
 ('2011-12-10 00:00:00', 'older'),
 ('2011-12-09 00:00:00', 'older'),
 ('2011-12-10 00:00:00', 'older'),
 ('2011-12-10 00:00:00', 'older'),
 ('2011-12-18 00:00:00', 'older'),
 ('2011-12-18 00:00:00', 'older'),
 ('2011-12-17 00:00:00', 'older'),
 ('2011-12-17 00:00:00', 'older'),
 ('2011-12-18 00:00:00', 'older'),
 ('2011-12-17 00:00:00', 'older'),
 ('2011-12-17 00:00:00', 'older'),
 ('2011-12-18 00:00:00', 'older'),
 ('2011-12-26 00:00:00', 'older'),
 ('2011-12-26 00:00:00', 'older'),
 ('2011-12-26 00:00:00', 'older'),
 ('2011-12-26 00:00:00', 'older'),
 ('2011-12-26 00:00:00', 'older'),
 ('2011-12-26 00:00:00', 'older'),
 ('2011-12-26 00:00:00', 'older'),
 ('2011-12-27 00:00:00', 'older'),
 ('2011-08-05 00:00:00', 'older'),
 ('2011-08-07 00:00:00', 'older'),
 ('2011-08-06 00:00:00', 'older'),
 ('2011-08-07 00:00:00', 'older'),
 ('2011-08-06 00:00:00', 'older'),
 ('2011-08-06 00:00:00', 'older'),
 ('2011-08-07 00:00:00', 'older'),
 ('2011-08-06 00:00:00', 'older'),
 ('2012-01-15 00:00:00', None),
 ('2012-01-14 00:00:00', None),
 ('2012-01-14 00:00:00', None),
 ('2012-01-15 00:00:00', None)]

In [86]:
# Segunda consulta con ELSE NULL
%sql SELECT date, \
CASE WHEN date > '2015-01-01' THEN 'More Recently' \
WHEN date < '2012-01-01' THEN 'older' \
ELSE NULL END AS date_category \
FROM match \
WHERE season IN ('2011/2012') \
LIMIT 100

   sqlite://
   sqlite:////Universidad/DataCamp/Python/intermediate_sql/SQL_SAFI.sqlite
 * sqlite:////Universidad/DataCamp/Python/intermediate_sql/european_soccer.sqlite
Done.

[('2011-07-29 00:00:00', 'older'),
 ('2011-07-30 00:00:00', 'older'),
 ('2011-07-30 00:00:00', 'older'),
 ('2011-07-30 00:00:00', 'older'),
 ('2011-07-30 00:00:00', 'older'),
 ('2011-07-30 00:00:00', 'older'),
 ('2011-07-30 00:00:00', 'older'),
 ('2011-07-31 00:00:00', 'older'),
 ('2011-10-16 00:00:00', 'older'),
 ('2011-10-16 00:00:00', 'older'),
 ('2011-10-15 00:00:00', 'older'),
 ('2011-10-15 00:00:00', 'older'),
 ('2011-10-15 00:00:00', 'older'),
 ('2011-10-15 00:00:00', 'older'),
 ('2011-10-15 00:00:00', 'older'),
 ('2011-10-15 00:00:00', 'older'),
 ('2011-10-23 00:00:00', 'older'),
 ('2011-10-22 00:00:00', 'older'),
 ('2011-10-22 00:00:00', 'older'),
 ('2011-10-22 00:00:00', 'older'),
 ('2011-10-23 00:00:00', 'older'),
 ('2011-10-22 00:00:00', 'older'),
 ('2011-10-23 00:00:00', 'older'),
 ('2011-10-22 00:00:00', 'older'),
 ('2011-10-29 00:00:00', 'older'),
 ('2011-10-30 00:00:00', 'older'),
 ('2011-10-30 00:00:00', 'older'),
 ('2011-10-29 00:00:00', 'older'),
 ('2011-10-29 00:00:00', 'older'),
 ('2011-10-29 00:00:00', 'older'),
 ('2011-10-29 00:00:00', 'older'),
 ('2011-10-29 00:00:00', 'older'),
 ('2011-11-06 00:00:00', 'older'),
 ('2011-11-05 00:00:00', 'older'),
 ('2011-11-04 00:00:00', 'older'),
 ('2011-11-05 00:00:00', 'older'),
 ('2011-11-05 00:00:00', 'older'),
 ('2011-11-05 00:00:00', 'older'),
 ('2011-11-05 00:00:00', 'older'),
 ('2011-11-06 00:00:00', 'older'),
 ('2011-11-20 00:00:00', 'older'),
 ('2011-11-20 00:00:00', 'older'),
 ('2011-11-19 00:00:00', 'older'),
 ('2011-11-18 00:00:00', 'older'),
 ('2011-11-19 00:00:00', 'older'),
 ('2011-11-19 00:00:00', 'older'),
 ('2011-11-19 00:00:00', 'older'),
 ('2011-11-19 00:00:00', 'older'),
 ('2011-11-25 00:00:00', 'older'),
 ('2011-11-27 00:00:00', 'older'),
 ('2011-11-26 00:00:00', 'older'),
 ('2011-11-26 00:00:00', 'older'),
 ('2011-11-26 00:00:00', 'older'),
 ('2011-11-26 00:00:00', 'older'),
 ('2011-11-26 00:00:00', 'older'),
 ('2011-11-26 00:00:00', 'older'),
 ('2011-12-04 00:00:00', 'older'),
 ('2011-12-04 00:00:00', 'older'),
 ('2011-12-02 00:00:00', 'older'),
 ('2011-12-03 00:00:00', 'older'),
 ('2011-12-03 00:00:00', 'older'),
 ('2011-12-03 00:00:00', 'older'),
 ('2011-12-03 00:00:00', 'older'),
 ('2011-12-03 00:00:00', 'older'),
 ('2011-12-11 00:00:00', 'older'),
 ('2011-12-10 00:00:00', 'older'),
 ('2011-12-10 00:00:00', 'older'),
 ('2011-12-10 00:00:00', 'older'),
 ('2011-12-10 00:00:00', 'older'),
 ('2011-12-09 00:00:00', 'older'),
 ('2011-12-10 00:00:00', 'older'),
 ('2011-12-10 00:00:00', 'older'),
 ('2011-12-18 00:00:00', 'older'),
 ('2011-12-18 00:00:00', 'older'),
 ('2011-12-17 00:00:00', 'older'),
 ('2011-12-17 00:00:00', 'older'),
 ('2011-12-18 00:00:00', 'older'),
 ('2011-12-17 00:00:00', 'older'),
 ('2011-12-17 00:00:00', 'older'),
 ('2011-12-18 00:00:00', 'older'),
 ('2011-12-26 00:00:00', 'older'),
 ('2011-12-26 00:00:00', 'older'),
 ('2011-12-26 00:00:00', 'older'),
 ('2011-12-26 00:00:00', 'older'),
 ('2011-12-26 00:00:00', 'older'),
 ('2011-12-26 00:00:00', 'older'),
 ('2011-12-26 00:00:00', 'older'),
 ('2011-12-27 00:00:00', 'older'),
 ('2011-08-05 00:00:00', 'older'),
 ('2011-08-07 00:00:00', 'older'),
 ('2011-08-06 00:00:00', 'older'),
 ('2011-08-07 00:00:00', 'older'),
 ('2011-08-06 00:00:00', 'older'),
 ('2011-08-06 00:00:00', 'older'),
 ('2011-08-07 00:00:00', 'older'),
 ('2011-08-06 00:00:00', 'older'),
 ('2012-01-15 00:00:00', None),
 ('2012-01-14 00:00:00', None),
 ('2012-01-14 00:00:00', None),
 ('2012-01-15 00:00:00', None)]

Ambas consultas devuelven resultados idénticos: tablas con algunos resultados nulos. Pero, ¿y si queremos excluirlos?

## What are NULL values doing?

Digamos que solo nos interesa ver los resultados de los partidos en los que ganó el Chelsea, y no nos importa si pierde o empata.

Al igual que en el ejemplo anterior, simplemente eliminando la cláusula ELSE, recuperará esos resultados y muchos valores NULL.

In [93]:
%sql SELECT date, season, \
CASE WHEN home_team_api_id = 8455 AND home_team_goal > away_team_goal THEN 'Chelsea ganó en casa' \
WHEN away_team_api_id = 8455 AND home_team_goal < away_team_goal THEN 'Chelsea ganó de visitante' \
END AS outcome \
FROM Match \
WHERE home_team_api_id = 8455 OR away_team_api_id = 8455 \
LIMIT 10

   sqlite://
   sqlite:////Universidad/DataCamp/Python/intermediate_sql/SQL_SAFI.sqlite
 * sqlite:////Universidad/DataCamp/Python/intermediate_sql/european_soccer.sqlite
Done.

[('2008-08-17 00:00:00', '2008/2009', 'Chelsea ganó en casa'),
 ('2008-10-29 00:00:00', '2008/2009', 'Chelsea ganó de visitante'),
 ('2008-11-01 00:00:00', '2008/2009', 'Chelsea ganó en casa'),
 ('2008-11-09 00:00:00', '2008/2009', 'Chelsea ganó de visitante'),
 ('2008-11-15 00:00:00', '2008/2009', 'Chelsea ganó de visitante'),
 ('2008-11-22 00:00:00', '2008/2009', None),
 ('2008-11-30 00:00:00', '2008/2009', None),
 ('2008-12-06 00:00:00', '2008/2009', 'Chelsea ganó de visitante'),
 ('2008-12-14 00:00:00', '2008/2009', None),
 ('2008-12-22 00:00:00', '2008/2009', None)]

## Where to place your CASE?

Para corregir esto, podemos tratar la declaración CASE completa como una columna para filtrar en la cláusula WHERE, como cualquier otra columna.

Para filtrar una consulta por una declaración CASE, debemos modificar la primera consulta a continuación, de forma que quede como en la segunda, es decir:

- Se incluye la instrucción CASE completa, EXCEPTO SU ALIAS, en WHERE.

- A continuación, se especifica lo que se desea incluir o excluir.

En el caso de la segunda consulta, en específico, deseamos mantener todas las filas en donde la declaración CASE NO SEA NULA (END IS NOT NULL).

In [102]:
# Primera consulta
%sql SELECT date, \
season, \
CASE WHEN home_team_api_id = 8455 AND home_team_goal > away_team_goal THEN 'Chelsea ganó en casa' \
WHEN away_team_api_id = 8455 AND home_team_goal < away_team_goal THEN 'Chelsea ganó de visitante' END AS outcome \
FROM match \
WHERE away_team_api_id = 8455 OR home_team_api_id = 8455 \
LIMIT 10

   sqlite://
   sqlite:////Universidad/DataCamp/Python/intermediate_sql/SQL_SAFI.sqlite
 * sqlite:////Universidad/DataCamp/Python/intermediate_sql/european_soccer.sqlite
Done.

[('2008-08-17 00:00:00', '2008/2009', 'Chelsea ganó en casa'),
 ('2008-10-29 00:00:00', '2008/2009', 'Chelsea ganó de visitante'),
 ('2008-11-01 00:00:00', '2008/2009', 'Chelsea ganó en casa'),
 ('2008-11-09 00:00:00', '2008/2009', 'Chelsea ganó de visitante'),
 ('2008-11-15 00:00:00', '2008/2009', 'Chelsea ganó de visitante'),
 ('2008-11-22 00:00:00', '2008/2009', None),
 ('2008-11-30 00:00:00', '2008/2009', None),
 ('2008-12-06 00:00:00', '2008/2009', 'Chelsea ganó de visitante'),
 ('2008-12-14 00:00:00', '2008/2009', None),
 ('2008-12-22 00:00:00', '2008/2009', None)]

In [100]:
# Segunda consulta
%sql SELECT date, \
season, \
CASE WHEN home_team_api_id = 8455 AND home_team_goal > away_team_goal THEN 'Chelsea ganó en casa' \
WHEN away_team_api_id = 8455 AND home_team_goal < away_team_goal THEN 'Chelsea ganó de visitante' END AS outcome \
FROM match \
WHERE CASE WHEN home_team_api_id = 8455 AND home_team_goal > away_team_goal THEN 'Chelsea ganó en casa' \
WHEN away_team_api_id = 8455 AND home_team_goal < away_team_goal THEN 'Chelsea ganó de visitante' END IS NOT NULL \
LIMIT 10

   sqlite://
   sqlite:////Universidad/DataCamp/Python/intermediate_sql/SQL_SAFI.sqlite
 * sqlite:////Universidad/DataCamp/Python/intermediate_sql/european_soccer.sqlite
Done.

[('2008-08-17 00:00:00', '2008/2009', 'Chelsea ganó en casa'),
 ('2008-10-29 00:00:00', '2008/2009', 'Chelsea ganó de visitante'),
 ('2008-11-01 00:00:00', '2008/2009', 'Chelsea ganó en casa'),
 ('2008-11-09 00:00:00', '2008/2009', 'Chelsea ganó de visitante'),
 ('2008-11-15 00:00:00', '2008/2009', 'Chelsea ganó de visitante'),
 ('2008-12-06 00:00:00', '2008/2009', 'Chelsea ganó de visitante'),
 ('2008-12-26 00:00:00', '2008/2009', 'Chelsea ganó en casa'),
 ('2008-08-24 00:00:00', '2008/2009', 'Chelsea ganó de visitante'),
 ('2009-01-17 00:00:00', '2008/2009', 'Chelsea ganó en casa'),
 ('2009-01-28 00:00:00', '2008/2009', 'Chelsea ganó en casa')]

De esta forma, la tabla resultante ahora solo incluye cuando Chelsea estaba en casa o de visitante, ¡y ya no necesitamos filtrar por el ID de equipo!

Bueno, ¡practiquemos algunas declaraciones CASE más complejas!

### EX 4° : In case of rivalry
Haremos una consulta con los partidos jugados entre el FC Barcelona y el Real Madrid (El Clásico).

In [108]:
# Realizamos un query para obtener los ID
%sql SELECT team_long_name AS team_name, team_api_id AS id \
FROM team \
WHERE team_long_name IN ('FC Barcelona', 'Real Madrid CF')

   sqlite://
   sqlite:////Universidad/DataCamp/Python/intermediate_sql/SQL_SAFI.sqlite
 * sqlite:////Universidad/DataCamp/Python/intermediate_sql/european_soccer.sqlite
Done.

[('Real Madrid CF', 8633), ('FC Barcelona', 8634)]

In [154]:
# Realizamos el query
%sql SELECT date AS fecha, \
CASE WHEN home_team_api_id = 8634 THEN 'FC Barcelona' \
ELSE 'Real Madrid CF' END AS casa, \
CASE WHEN away_team_api_id = 8634 THEN 'FC Barcelona' \
ELSE 'Real Madrid CF' END AS visitante, \
CASE WHEN home_team_goal > away_team_goal AND home_team_api_id = 8634 THEN 'Ganó el FC Barcelona' \
WHEN home_team_goal < away_team_goal AND home_team_api_id = 8634 THEN 'Ganó el Real Madrid' \
WHEN home_team_goal > away_team_goal AND home_team_api_id = 8633 THEN 'Ganó el Real Madrid' \
WHEN home_team_goal < away_team_goal AND home_team_api_id = 8633 THEN 'Ganó el Barcelona' ELSE 'Empate' END AS resultado \
FROM match \
WHERE season IN ('2011/2012', '2012/2013', '2013/2014', '2014/2015') AND (home_team_api_id = 8634 OR away_team_api_id = 8634) AND (home_team_api_id = 8633 OR away_team_api_id = 8633)

   sqlite://
   sqlite:////Universidad/DataCamp/Python/intermediate_sql/SQL_SAFI.sqlite
 * sqlite:////Universidad/DataCamp/Python/intermediate_sql/european_soccer.sqlite
Done.

[('2011-12-10 00:00:00', 'Real Madrid CF', 'FC Barcelona', 'Ganó el Barcelona'),
 ('2012-04-21 00:00:00', 'FC Barcelona', 'Real Madrid CF', 'Ganó el Real Madrid'),
 ('2013-03-02 00:00:00', 'Real Madrid CF', 'FC Barcelona', 'Ganó el Real Madrid'),
 ('2012-10-07 00:00:00', 'FC Barcelona', 'Real Madrid CF', 'Empate'),
 ('2013-10-26 00:00:00', 'FC Barcelona', 'Real Madrid CF', 'Ganó el FC Barcelona'),
 ('2014-03-23 00:00:00', 'Real Madrid CF', 'FC Barcelona', 'Ganó el Barcelona'),
 ('2015-03-22 00:00:00', 'FC Barcelona', 'Real Madrid CF', 'Ganó el FC Barcelona'),
 ('2014-10-25 00:00:00', 'Real Madrid CF', 'FC Barcelona', 'Ganó el Real Madrid')]

In [ ]:
### EX 5 : Filtering your CASE statement
Generaremos una lista de partidos ganados por el Bologna de Italia.

In [158]:
# Seleccionamos el ID
%sql SELECT team_long_name, team_api_id \
FROM team \
WHERE team_long_name LIKE '%Bologna%'

   sqlite://
   sqlite:////Universidad/DataCamp/Python/intermediate_sql/SQL_SAFI.sqlite
 * sqlite:////Universidad/DataCamp/Python/intermediate_sql/european_soccer.sqlite
Done.

[('Bologna', 9857)]

In [190]:
# Realizamos el query probando el por qué utilizar CASE WHEN en WHERE y no en SELECT para utilizar condicionales
%sql SELECT season, \
date, home_team_api_id, away_team_api_id, home_team_goal, away_team_goal, \
CASE WHEN home_team_goal > away_team_goal AND home_team_api_id IN (SELECT team_api_id FROM team WHERE team_long_name LIKE '%Bologna%') THEN 'Bologna ganó en casa' \
WHEN home_team_goal < away_team_goal AND away_team_api_id IN (SELECT team_api_id FROM team WHERE team_long_name LIKE '%Bologna%') THEN 'Bologna ganó de visitante' END IS NOT NULL AS outcome \
FROM match \
WHERE home_team_api_id IN (SELECT team_api_id \
FROM team \
WHERE team_long_name LIKE '%Bologna%') OR away_team_api_id IN (SELECT team_api_id \
FROM team \
WHERE team_long_name LIKE '%Bologna%') \
LIMIT 10

   sqlite://
   sqlite:////Universidad/DataCamp/Python/intermediate_sql/SQL_SAFI.sqlite
 * sqlite:////Universidad/DataCamp/Python/intermediate_sql/european_soccer.sqlite
Done.

[('2008/2009', '2008-08-31 00:00:00', 8564, 9857, 1, 2, 1),
 ('2008/2009', '2008-11-02 00:00:00', 8529, 9857, 5, 1, 0),
 ('2008/2009', '2008-11-08 00:00:00', 9857, 8686, 1, 1, 0),
 ('2008/2009', '2008-11-16 00:00:00', 8551, 9857, 1, 1, 0),
 ('2008/2009', '2008-11-23 00:00:00', 9857, 8540, 1, 1, 0),
 ('2008/2009', '2008-11-30 00:00:00', 10233, 9857, 1, 1, 0),
 ('2008/2009', '2008-12-07 00:00:00', 8690, 9857, 2, 2, 0),
 ('2008/2009', '2008-12-13 00:00:00', 9857, 9804, 5, 2, 1),
 ('2008/2009', '2008-12-21 00:00:00', 9888, 9857, 0, 0, 0),
 ('2008/2009', '2009-01-11 00:00:00', 9857, 8533, 1, 1, 0)]

In [ ]:
Así es. En 'outcome' tendremos los valores booleanos que, normalmente, SQL utilizaría para obtener los datos deseados. En este caso:

- El valor '1' corresponde al valor deseado para la consulta (positivo).

- El valor '0' corresponde al valor no deseado para la consulta (negativo).

Ahora, si cambiamos el CASE WHEN a la cláusula WHERE, veremos que las fechas y puntuaciones cuyo 'outcome' en la tabla anterior, corresponde a 1, serán las mismas, y dado que no queremos obtener aquellos partidos donde NO HAYA GANADO el Bologna, debemos omitir las filas que no cumplan esa condición (las filas con 0).

In [191]:
# Finalmente
%sql SELECT season, \
date, home_team_api_id, away_team_api_id, home_team_goal, away_team_goal \
FROM match \
WHERE CASE WHEN home_team_goal > away_team_goal AND home_team_api_id IN (SELECT team_api_id FROM team WHERE team_long_name LIKE '%Bologna%') THEN 'Bologna ganó en casa' \
WHEN home_team_goal < away_team_goal AND away_team_api_id IN (SELECT team_api_id FROM team WHERE team_long_name LIKE '%Bologna%') THEN 'Bologna ganó de visitante' END IS NOT NULL \
LIMIT 10

   sqlite://
   sqlite:////Universidad/DataCamp/Python/intermediate_sql/SQL_SAFI.sqlite
 * sqlite:////Universidad/DataCamp/Python/intermediate_sql/european_soccer.sqlite
Done.

[('2008/2009', '2008-08-31 00:00:00', 8564, 9857, 1, 2),
 ('2008/2009', '2008-12-13 00:00:00', 9857, 9804, 5, 2),
 ('2008/2009', '2009-01-18 00:00:00', 8530, 9857, 1, 2),
 ('2008/2009', '2009-01-28 00:00:00', 8524, 9857, 0, 1),
 ('2008/2009', '2009-03-08 00:00:00', 9857, 9882, 3, 0),
 ('2008/2009', '2009-04-26 00:00:00', 9857, 10233, 2, 0),
 ('2008/2009', '2009-05-17 00:00:00', 9857, 9888, 2, 1),
 ('2008/2009', '2009-05-31 00:00:00', 9857, 8530, 3, 1),
 ('2008/2009', '2008-10-19 00:00:00', 9857, 8543, 3, 1),
 ('2009/2010', '2009-10-28 00:00:00', 9857, 8551, 2, 1)]

## CASE WHEN with aggregate functions